<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39799101733-7gkcnvahiihgcgpl45mgqrurr0ga43e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39799101733-7gkcnvahiihgcgpl45mgqrurr0ga43e0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39799101733-3540abkpvr9a451t3itrcvt8us3pgbv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLpnNvT_RkdfgwTGael44wDGI2H6lug5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>39799101733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inovatiftujuh8.marlinda</string>
	<key>PROJECT_ID</key>
	<string>marlinda-c26cd</string>
	<key>STORAGE_BUCKET</key>
	<string>marlinda-c26cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39799101733:ios:1837f98a1184f10c0b22cc</string>
</dict>
</plist>