<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Marlinda</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>marlinda</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.39799101733-7gkcnvahiihgcgpl45mgqrurr0ga43e0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>39799101733-7gkcnvahiihgcgpl45mgqrurr0ga43e0.apps.googleusercontent.com</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	
	<key>NSCameraUsageDescription</key>
	<string>Marlinda uses the camera to record live video during an SOS event to help capture the user’s real-time situation for safety and emergency assistance.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>Marlinda uses the microphone to record audio together with video during an SOS event to provide complete context of the emergency situation.</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Marlinda uses your location to send accurate SOS alerts, show nearby facilities, and update the Early Warning System while the app is active.</string>

	<key>NSLocationAlwaysUsageDescription</key>
	<string>Marlinda accesses your location in the background to ensure continuous SOS tracking, weather updates, and synchronization with the Early Warning System.</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Marlinda needs continuous location access to send real-time SOS alerts, detect nearby places, and keep your Early Warning System data up to date.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>Marlinda allows you to select and upload a photo from your library to update your profile.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Marlinda needs access to save profile photos that you update within the app.</string>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
